aiobotocore==2.15.2
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aioitertools==0.12.0
aiosignal==1.3.1
anndata==0.10.9
annotated-types==0.7.0
appnope 
array_api_compat==1.9.1
asttokens 
async-timeout==5.0.1
attrs==24.2.0
beautifulsoup4==4.12.3
biopython==1.84
biothings-client==0.3.1
botocore==1.35.36
cellxgene-census==1.15.0
certifi==2024.8.30
charset-normalizer==3.4.0
comm 
contourpy==1.3.0
cycler==0.12.1
dataclasses==0.6
debugpy 
decorator 
et_xmlfile==2.0.0
exceptiongroup 
executing 
filelock==3.16.1
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.10.0
fuzzywuzzy==0.18.0
get-annotations==0.1.2
gget==0.29.0
h5py==3.12.1
huggingface-hub==0.26.5
idna==3.10
importlib_metadata 
importlib_resources==6.4.5
ipykernel 
ipython 
ipywidgets==8.1.5
jedi 
jmespath==1.0.1
joblib==1.4.2
jupyter_client 
jupyter_core 
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
legacy-api-wrap==1.4.1
llvmlite==0.43.0
lxml==5.3.0
matplotlib==3.9.3
matplotlib-inline 
multidict==6.1.0
mygene==3.2.2
mysql-connector-python==9.1.0
natsort==8.4.0
nest_asyncio 
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
openpyxl==3.1.5
packaging 
pandas==2.2.3
parso 
patsy==1.0.1
pbr==6.1.0
pexpect 
pickleshare 
pillow==11.0.0
platformdirs 
prompt_toolkit 
propcache==0.2.1
psutil 
ptyprocess 
pure_eval 
pyarrow==12.0.1
pyarrow-hotfix==0.6
pydantic==2.10.3
pydantic_core==2.27.1
Pygments 
pynndescent==0.5.13
pyparsing==3.2.0
pysmiles==1.1.2
PyTDC==1.0.0
python-dateutil 
pytz==2024.2
PyYAML==6.0.2
pyzmq 
rdkit==2023.9.6
requests==2.32.3
s3fs==2024.10.0
scanpy==1.10.3
scikit-learn==1.2.2
scipy==1.13.1
seaborn==0.13.2
session_info==1.0.0
six 
somacore==1.0.11
soupsieve==2.6
stack_data 
statsmodels==0.14.4
stdlib-list==0.11.0
threadpoolctl==3.5.0
tiledb==0.29.1
tiledbsoma==1.11.4
tomli==2.2.1
tornado 
tqdm==4.67.1
traitlets 
typing_extensions 
tzdata==2024.2
umap-learn==0.5.7
urllib3==1.26.20
wcwidth 
widgetsnbextension==4.0.13
wrapt==1.17.0
yapf==0.43.0
yarl==1.18.3
zipp 
